HORIZON_URL=https://horizon-testnet.stellar.org
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
COMPLIANCE_CONTRACT_ID=
EVM_RPC_URL=
EVM_RECEIVER_ADDRESS=
BRIDGE_PRIVATE_KEY=
